.commits__author-info {
  margin: 16px 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .commits__author-info {
    margin: 19px 0px 17px;
    height: min-content;
  }
}

@media screen and (max-width: 767px) {
  .commits__author-info {
    margin: 11px 0px 17px;
  }
}