@import url(../../vendor/fonts.css);
@import url(./_search/button_search.css);
@import url(./_show-more/button_show-more.css);
@import url(./_github-link/button_github-link.css);
@import url(./_show-more-hidden/button_show-more-hidden.css);
@import url(./_search-disabled/button_search-disabled.css);

.button {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  align-items: center;
  text-align: center;
  padding: 21px 0px;
  border: none;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .button {
    padding: 17px 0px;
    min-width: 35%;
  }
}

@media screen and (max-width: 767px) {
  .button {
    padding: 17px 0px;
    width: 100%;
  }
}