@import url(../../vendor/fonts.css);
@import url(./__cards/news__cards.css);
@import url(./__card-item/news__card-item.css);
@import url(./__card-image/news__card-image.css);
@import url(./__card-date/news__card-date.css);
@import url(./__card-title/news__card-title.css);
@import url(./__card-text/news__card-text.css);
@import url(./__card-source/news__card-source.css);
@import url(./_hidden/news_hidden.css);

.news {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 80px 104px;
  background-color: #F5F6F7;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .news {   
    padding: 40px;
  }
}

@media screen and (max-width: 767px) {
  .news {
    padding: 32px 16px 44px;  
  }
}