.footer__link-picture {
  margin: 0px 28px 0px 0px;
}

.footer__link-picture:last-of-type {
  margin-right: 0px;
}

.footer__link-picture:hover {
  cursor: pointer;
  opacity: .35;
  transition: opacity .3s ease;
}



