.commits__author-name {
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  margin: 0px 0px 2px;
}

@media screen and (max-width: 1023px) {
  .commits__author-name {
    font-size: 20px;
    margin: 0px;
  }
}
