.about-author__info {
  display: flex;
  align-self: flex-start;
  width: 48.8%;
  flex-direction: column;
  margin: 51px 0px 0px 4.5%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .about-author__info {   
    width: 100%;
    margin: 0px 0px 0px 4.7%;
  }
}

@media screen and (max-width: 767px) {
  .about-author__info {
    width: 100%;
    margin: 24px 0px 0px;  
  }
}