.text_client {
  margin: 0px 0px 24px;
  width: 66.3%;
}

.text_client:last-of-type {
  margin-bottom: 0px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .text_client {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .text_client {
    width: 100%;
  }
}