.button_show-more {
  background-color: #FFFFFF;
  border-radius: 80px;
  min-width: 23.4%;
  color: #1A1B22;
}

.button_show-more:hover {
  box-shadow: 0 8px 10px #CED2D5;
  opacity: .9;
  transition: all .3s ease;
  cursor: pointer;
}

.button_show-more:active {
  background-color: #F6F7F8;
  transition: background-color .3s ease;
}

@media screen and (max-width: 767px) {
  .button_show-more {
    max-width: 400px;
  }
}