@import url(../../vendor/fonts.css);

.client {
  display: flex;
  flex-direction: column;
  padding: 80px 104px 94px;
}


@media screen and (min-width: 768px) and (max-width: 1023px) {
  .client {
    padding: 30px 40px 50px;
  }
}

@media screen and (max-width: 767px) {
  .client {
    padding: 16px 16px 32px;
  }
}