@import url(./_white-theme/header__name_white-theme.css);

.header__name {
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #1A1B22;
  padding-bottom: 23px;
  margin: 0px;
  margin-right: auto;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__name {
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 767px) {
  .header__name {
    font-size: 16px;
    padding-bottom: 13px;
  }
}