@import url(./_active-white/header__link_active-white.css);
@import url(./_white-theme/header__link_white-theme.css);
@import url(./_active-dark/header__link_active-dark.css);

.header__link {
  color: #B6BCBF;
  text-decoration: none;
  padding-bottom: 22px;
}

.header__link:hover {
  cursor: pointer;
  color: #1A1B22;
  transition: color .3s ease;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .header__link {
    padding-bottom: 13px;
  }
}

@media screen and (max-width: 767px) {
  .header__link {
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 12px;   
  }
}

