@import url(../../vendor/fonts.css);
@import url(./__axis-titles/scale__axis-titles.css);
@import url(./__chart/scale__chart.css);
@import url(./__date/scale__date.css);
@import url(./__quantity/scale__quantity.css);
@import url(./__title/scale__title.css);
@import url(./__value/scale__value.css);
@import url(./__x-axis-container/scale__x-axis-container.css);
@import url(./__x-axis-point/scale__x-axis-point.css);
@import url(./__y-axis-point/scale__y-axis-point.css);
@import url(./__results/scale__results.css);
@import url(./__chart-results/scale__chart-results.css);



.scale {
  background-color: #F5F6F7;
  padding: 80px 104px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .scale {   
    padding: 40px;
  }
}

@media screen and (max-width: 767px) {
  .scale {
    padding: 24px 16px 38px;    
  }
}