.news__card-text {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  margin: 16px 0px 18px;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .news__card-text {
    margin: 10px 0px 12px;
    -webkit-line-clamp: 4;
  }
}

@media screen and (max-width: 767px) {
  .news__card-text {
    margin: 8px 0px 5px;
    -webkit-line-clamp: 4;  
  }
}