.title_technologies {
  margin: 0px 18% 0px 0px;
  white-space: pre-line;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .title_technologies {
    margin: 0px 0px 40px;
  }
}

@media screen and (max-width: 767px) {
  .title_technologies {
    margin: 0px 0px 39px;
  }
}