@import url(./_first-value/scale__value_first-value.css);
@import url(./_second-value/scale__value_second-value.css);
@import url(./_third-value/scale__value_third-value.css);
@import url(./_fourth-value/scale__value_fourth-value.css);
@import url(./_fifth-value/scale__value_fifth-value.css);
@import url(./_sixth-value/scale__value_sixth-value.css);
@import url(./_seventh-value/scale__value_seventh-value.css);

.scale__value {
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #2F71E5;
  padding: 6px;
  min-width: fit-content;
}