.news__card-image {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  object-fit: cover;
  width: calc(100% + 24px * 2);
  margin-left: -24px;
  max-height: 272px;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .news__card-image {
    margin-left: -16px;
    width: calc(100% + 16px * 2);
    max-height: 150px;   
  }
}

@media screen and (max-width: 767px) {
  .news__card-image {
    margin-left: -16px;
    width: calc(100% + 16px * 2);     
  }
}