.scale__axis-titles {
  display: flex;
  flex-direction: row;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
  border-bottom: 1px solid #1A1B22;
}

@media screen and (max-width: 767px) {
  .scale__axis-titles {
    margin-bottom: 18px;
  }
}