.scale__title {
  font-family: Roboto Slab, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 30px;
  color: #1A1B22;
  margin: 0px 0px 48px;
}

@media screen and (max-width: 767px) {
  .scale__title {
    font-size: 22px;
    line-height: 30px;
    margin-bottom: 16px;
  }
}