.news__card-item {
  /* border: red 1px solid; */
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background-color: #FFFFFF;
  padding: 0px 24px 24px;
  text-decoration: none;
}

.news__card-item:hover {
  box-shadow: 0 8px 10px #CED2D5;
  transition: all .3s ease;
  cursor: pointer;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .news__card-item {   
    padding: 0px 16px 16px;
  }
}

@media screen and (max-width: 767px) {
  .news__card-item {
    max-width: 368px;
    padding: 0px 16px 16px;
  }
}

